<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* 
		1. 타임리프 변수를 자바스크립트에서 사용하기 위한 선언 
         <script th:inline="javascript"> </script>
         
         2. 스크립트 시작과 끝에 CDATA 반드시 선언 	=> 타임리프 3 버전 이상에서는 생략 가능 ( 현재 3.0.15 버전임 ) 
        CDATA Section :   Character DATA 영역 
          이 영역에는태그가 없으며  문자열 자체로 인식하라고   parser에게 알리는 역할
          
		/*<![CDATA[*/ 
		
		/*]]*/
		
		3. ${}를 주석으로 감싸기
         자바스크립트에서 Thymeleaf 변수 사용시 
          /*[[ ${} ]]*/
 */-->
<script type="text/javascript" th:inline="javascript">
	alert("해당하는 아이디, 전화번호에 맞는 회원이 없습니다.");
	location.href="/";
</script>
</html>