<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}" 
>
<head>
<title>findPasswordForm</title>
</head>
 <div layout:fragment="main">
	<div class="container pt-4">
	회원님의 아이디와 전화번호를 입력해 주십시오
		<form id="findForm" th:action="@{/guest/findPasswordByIdTel}">
			<input type="text" name="memberId" size="5" placeholder="아이디">
			<input type="text" name="memberTel" size="5" placeholder="전화번호">
			<input type="submit" value="검색">
		</form>
	</div>
</div>
</html>